/**
*公用样式
*/
a{
    text-decoration: none !important;
}
.w10{
    width: 10%;
}
.w20{
    width: 20%;
}
.w30{
    width: 30%;
}
.w40{
    width: 40%;
}
.w50{
    width: 50%;
}
.w60{
    width: 60%;
}
.w70{
    width: 70%;
}
.w80{
    width: 80%;
}
.dib{
    display: inline-block;
}
.mf10{
    margin-left: 10px;
}
.mf20{
    margin-left: 20px;
}
/**
 * 自定义复选框样式
 */
input[type='checkbox']{
    display:none;
}
input[type='checkbox']+label{
    display:inline-block;
    position:relative;
    overflow:hidden;
    width:15px;
    height:15px;
    border:1px solid #1fb5ac;
    background-color:#fff;
    cursor:pointer;
    border-radius:2px;
    vertical-align: middle;
}
input[type='checkbox']+label:after{
    content:'√';
    position:absolute;
    top:1px;
    left:1px;
    width:13px;
    height:13px;
    line-height:13px;
    text-align:center;
    background-color:orange;
    color:#fff;
    font-size:12px;
    font-weight:bold;
    font-family:微软雅黑;
    border-radius:2px;
    transform:translateY(-18px) rotate(45deg);
    transition:transform .2s ease-out;
}
input[type='checkbox']:checked+label:after{
    transform:translateY(0);
    transition:transform .2s ease-in;
}

input[type='checkbox']{
    display:none;
}
input[type='checkbox']+label{
    display:inline-block;
    position:relative;
    overflow:hidden;
    width:16px;
    height:16px;
    border:1px solid #1fb5ac;
    background-color:#fff;
    margin-right:10px;
    cursor:pointer;
}

input[type='checkbox']+label:after{
    content:'';
    position:absolute;
    top:2px;
    left:2px;
    width:10px;
    height:10px;
    background-color:#1fb5ac;
 /*   border-radius:50%;*/
    transform:scale(0);
    transition:transform .2s ease-out;
}

 input[type='checkbox']:checked+label{
    background-color:#fff;
    transition:background-color .2s ease-in;
}
input[type='checkbox']:checked+label:after{
    background-color:#1fb5ac;
    transform:scale(1);
    transition:transform .2s ease-in;
}
/**
 * 自定义单选框样式
 */
input[type='radio']{
    display:none;
}
input[type='radio']+label{
    display:inline-block;
    position:relative;
    overflow:hidden;
    width:18px;
    height:18px;
    vertical-align:middle;
    border:1px solid #1fb5ac;
    background-color:#fff;
    margin-right:10px;
    cursor:pointer;
    border-radius:50%;
}

input[type='radio']+label:after{
    content:'';
    position:absolute;
    top:2px;
    left:2px;
    width:12px;
    height:12px;

    background-color:#1fb5ac;
    border-radius:50%;
    transform:scale(0);
    transition:transform .2s ease-out;
}

 input[type='radio']:checked+label{
    background-color:#fff;
    transition:background-color .2s ease-in;
}
input[type='radio']:checked+label:after{
    background-color:#1fb5ac;
    transform:scale(1);
    transition:transform .2s ease-in;
}
/**
*登录
*/
.login-body {
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
}
.login-body .avatar{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.login-body .codeImg{
    margin-left: 6%;
    cursor: pointer;
}
/*注册*/
.radios{
    padding-bottom: 10px;
}
.radios label:last-child{
    margin-left:20%;
}
/*后台系统*/
#container .brand a{
    color:#fff;
}
.dropdown-menu>li>a{
    color:#666!important;
}
@media (max-width:325px) {
    .login-body .codeImg{
         margin-left: 0px;
    }
}